:root {
    /* #faf6e9/#556d57 #6d6255 #484239 #262320 #000000 */
    --bg-primary: #556d57;
    --bg-secondary: #6d6255;
    --bg-tertiary: #484239;

    --color-primary: var(--bg-primary);
}

nav {
    background-color: var(--bg-primary);
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;

    cursor: default;
}

nav a:hover {
    display: inline-block;
    filter: invert(0.3);

    cursor: pointer;

    transform: scale(1.2);
    transform-origin: center;


    transition: ease-in 0.15s;
}

main {
    max-width: 50vw;
}


main img {
    width: 150px;
    height: auto;
    border: 1px solid hsla(200, 0%, 0%, .7);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 25rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: var(--bg-secondary);
    color: inherit;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 3rem;
    border-top: 3px solid var(--color-primary);
    text-align: center;
}

h1 {
    color: var(--color-primary);
}

p {
    padding: 0;
}