nav {
    background-color: darkblue;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;

    cursor: default;
}

nav a:hover {
    display: inline-block;
    filter: invert(0.5);

    cursor: pointer;

    transform: scale(1.2);
    transform-origin: center;


    transition: ease-in 0.15s;
}

main {
    max-width: 50vw;
}


main img {
    width: 150px;
    height: auto;
    border: 1px solid hsla(200, 0%, 0%, .7);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    width: 25rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    border-radius: 10px;
    padding: 0.5em 1em;
    background-color: whitesmoke;
    color: inherit;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 3rem;
    border-top: 1px solid darkblue;
    text-align: center;
}

h1 {
    color: darkblue;
}

p {
    padding: 0
}